node_modules
.next
.git
.gitignore
.env.local
.env*.local
volumes
python/venv
python/__pycache__
python/src/__pycache__
python/.venv
*.log
.DS_Store
README.md
docker-compose.yml
tsconfig.tsbuildinfo

