@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --text-color: #9f9f9f;
  --button-color: #0474b6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

